<title>ヨーロッパサッカー掲示板</title>
<div class="background">
<%= stylesheet_link_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
</div>
<div class="main">
<p class="welcome">閲覧していただきありがとうございます！！！。<br>私たちと一緒にヨーロッパサッカーについて語り合いましょう！！！</p>
<p class="myfavorite">ちなみに主はマドリー、ドルトムント、インテル、ナポリ、チェルシー、レスター、スパーズが好きです。</p>
</div>