@import "common.scss";
    .posts {
        text-align: center;
        margin-top: 30px;
    }

    .row {
        margin-top: 15px;
        height: 525px;
        margin-left: 1px;

        .form-control{
            margin-bottom: 25px;
        }
        .post_image {
            margin-bottom: 15px;
        }
        .box {
            margin-top: 15px;
        }
        .btn-primary {
            margin-top: 10px;
        }
    }
