@import "common.scss";

body{
    background-image: url("top.png");
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.3);
    background-blend-mode:soft-light;
    background-size: 100%;
    .main{
        margin-left: 250px;
        margin-top: 200px;
        .welcome{
            font-size: 40px;
            color: white;
        }
        .myfavorite{
            margin-top: 30px;
            font-size: 20px;
            color: white;
        }
    }
    @media (max-width: 1000px) {
        background-image: url("top.png");
        background-repeat: no-repeat;
        background-color: rgba(255,255,255,0.3);
        background-blend-mode:soft-light;
        background-size: 200%;
        .main{
            margin-left: 250px;
            margin-top: 200px;
            .welcome{
                font-size: 40px;
                color: white;
            }
            .myfavorite{
                margin-top: 30px;
                font-size: 20px;
                color: white;
            }
        }

        @media (max-width: 670px) {
            background-image: url("top.png");
            background-repeat: no-repeat;
            background-color: rgba(255,255,255,0.3);
            background-blend-mode:soft-light;
            background-size: 430%;
            .main{
                margin-left: 130px;
                margin-top: 200px;
                .welcome{
                    font-size: 40px;
                    color: white;
                }
                .myfavorite{
                    margin-top: 30px;
                    font-size: 20px;
                    color: white;
                }
            }
        }


    }
}



